<div style="background-color: red; display: flex; align-items: center; color: white; height: 50px; padding: 0 10px 0 10px;">
    <p> Данная копия приложения не является подлинной! </p>
    <a style="text-decoration: underline; margin-left: 10px; cursor: pointer;">Обратитесь за покупкой</a> 
    <p>, чтобы получать обновления и поддержу. </p>
    <p style="margin-left: auto;">© EasyResto</p> 
    

</div>