<!--login.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Вход в систему | Cherry
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_for_menu.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header id="header">
        <div class="logo">
            <img src="/jpgs/logo.png" alt="Logo">
        </div>
    </header>
    <div class="container" style="background-color: aliceblue; border-radius: 25px; padding: 25px; margin: 25px auto">
        <% if(message.length > 0){ %>
            <h4 class="alert alert-danger mt-4"><%= message %></h4>
            <a class="btn btn-primary" href="/" role="button">Вернуться на главную</a>
        <% } %>
        <h2>Вход</h2>
        <form action="/auth/login" method="POST">
            <div class="form-group mb-3">
                <label>Почта</label>
                <input type="text" class="form-control" placeholder="Почта" name="email">
            </div>
            <div class="form-group mb-3">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Пароль" name="password">
            </div>
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary form-control">Войти</button>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <a href="/register">Зарегистрироваться</a>
                <a href="/forgot_password">Забыли пароль?</a>
            </div>
        </form>
    </div>
</body>
</html>