<div style="background-color: rgb(61, 138, 252); display: flex; align-items: center; color: white; height: 50px; padding: 0 10px 0 10px;">
    <p> Доступно обновление до версии <%= locals.latest_version %> </p>
    <a href="/updater/update/<%= locals.latest_version %>" style="text-decoration: underline; margin-left: 10px; cursor: pointer;">Обновиться</a> 
    <p style="margin-left: auto;">© EasyResto</p> 
</div>