<nav class="upMenu">
    <div class="buttons" id="buttons">
        <button onclick="document.location='./login'" class="authorize"></button>
        <button onclick="menuToggle()" class="toggleMenu"></button>
    </div>

    <div class="grid" id="grid" >
        <ul class="navList">
            <li class="navPoint"><a href="">Выход</a></li>
            <li class="navPoint"><a href="">Столы</a></li>
            <li class="navPoint"><a href="">Настройки</a></li>
            <li class="navPoint"><a href="">Отчёты</a></li>
            <li class="navPoint"><a href="">Склад</a></li>
        </ul>
    </div>

</nav>