<div class="upMenu navbar navbar-static-top" style="width: 100%;">
    <div class="navbar-inner">
              <div class="btn-group  pull-left">
                    <a class="btn btn-success" href="/admin/tables"><i class="icon-shopping-cart icon-white"></i> Продажа</a>
            
          <a class="btn btn-success" href="index.php" title="На главную">&nbsp;<i alt="На главную" class="icon-home icon-white"></i>&nbsp;</a>
                  <a title="Выйти" href="index.php?class_name=users&amp;act=logout" class="btn btn-danger">&nbsp;<i alt="Выйти" class="icon-remove icon-white"></i>&nbsp;</a>		</div>
                  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                    <ul class="nav">
                        <li>
                
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-body" data-toggle="dropdown">
                              Настройки
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=printer&amp;act=draw_prechek" class="text-body" title="Печатаем всё">Печатаем всё</a></li>
                        
                                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=cennik&amp;act=start" title="Ценники и Эткетки">Ценники и Эткетки</a></li>
                        
                                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=cennik&amp;act=vesovoj" title="Файл для весов">Файл для весов</a></li>
                        
                                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=admin_planshet&amp;act=view_plansheti" title="Планшеты">Планшеты</a></li>
                        
                                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=admin_bill&amp;act=view_bill_template" title="Настройки чека">Настройки чека</a></li>
                        
                                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=cleardb&amp;act=clear_db" title="Очистка базы данных">Очистка базы данных</a></li>
                        
                                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=uchet&amp;act=export_to_site" title="Экспорт на сайт">Экспорт на сайт</a></li>       
                            </ul>
                        </li>
                                    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Работа с клиентом
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=uchet&amp;act=take_table" title="Обслуживание столиков">Обслуживание столиков</a></li>
                        
                                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=clients&amp;act=view_clients" title="Все клиенты">Все клиенты</a></li>
                            
                            </ul>
                        </li>
                                
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Склады
                            </a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=prihod" title="Приход товара">Приход товара</a></li>
                        
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=pere" title="Перемещение товаров, денег">Перемещение товаров, денег</a></li>
                        
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=vrabotu" title="Перемещение с расфасовкой">Перемещение с расфасовкой</a></li>
                                <li><hr class="dropdown-divider"></li>	
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=u_pereuch" title="Инвентаризация">Инвентаризация</a></li>
                                        
                            </ul>
                        </li>
                                
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Расходы
                            </a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=zp_prem" title="Зарплаты">Зарплаты</a></li>
                        
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=spis" title="Затраты и списание продуктов">Затраты и списание продуктов</a></li>
                                        
                            </ul>
                        </li>
                                
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Отчеты
                            </a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=agent_history" title="Движение денег, товаров">Движение денег, товаров</a></li>
                        
                                <li><a tabindex="-1" class="dropdown-item" href="/admin/stats" title="Аналитика продаж">Аналитика продаж</a></li>
                        
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=ostatki" title="Текущий  баланс">Текущий  баланс</a></li>
                            </ul>
                        </li>
                                
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Справочники
                            </a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=admin_postav&amp;act=view_postav" title="Поставщики">Поставщики</a></li>
                                <li><hr class="dropdown-divider"></li>	
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=admin_sotr&amp;act=view_sotr" title="Персонал">Персонал</a></li>
                                <li><hr class="dropdown-divider"></li>	
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=admin_proizv&amp;act=view_proizvs" title="Производства">Производства</a></li>
                        
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=catalog&amp;act=draw1" title="Мастер рецептов">Мастер рецептов</a></li>
                        
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=admin_sklads&amp;act=view_sklads" title="Склады">Склады</a></li>
                        
                                <li><a tabindex="-1" class="dropdown-item" href="/admin/pos_manager" title="Места продаж">Места продаж</a></li>
                                <li><hr class="dropdown-divider"></li>	
                                <li><a tabindex="-1" class="dropdown-item" href="/admin/nomenclature?type=raw" title="Исходные товары">Исходные товары</a></li>
                        
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=receptura&amp;act=Fas" title="Фасовка">Фасовка</a></li>
                        
                                <li><a tabindex="-1" class="dropdown-item" href="/admin/nomenclature?type=semis" title="Полуфабрикаты">Полуфабрикаты</a></li>
                        
                                <li><a tabindex="-1" class="dropdown-item" href="/admin/nomenclature?type=production" title="Продукция">Продукция</a></li>
                                <li><hr class="dropdown-divider"></li>	
                                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=print_menu" title="Просмотр технологических карт">Просмотр технологических карт</a></li>
                                        
                            </ul>
                        </li>
                         
                    </ul>
                  </nav>
    </div>
  </div>


<!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav">
        <li>

        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle text-body" data-toggle="dropdown">
              Настройки
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=printer&amp;act=draw_prechek" class="text-body" title="Печатаем всё">Печатаем всё</a></li>
        
                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=cennik&amp;act=start" title="Ценники и Эткетки">Ценники и Эткетки</a></li>
        
                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=cennik&amp;act=vesovoj" title="Файл для весов">Файл для весов</a></li>
        
                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=admin_planshet&amp;act=view_plansheti" title="Планшеты">Планшеты</a></li>
        
                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=admin_bill&amp;act=view_bill_template" title="Настройки чека">Настройки чека</a></li>
        
                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=cleardb&amp;act=clear_db" title="Очистка базы данных">Очистка базы данных</a></li>
        
                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=uchet&amp;act=export_to_site" title="Экспорт на сайт">Экспорт на сайт</a></li>       
            </ul>
        </li>
                    
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Работа с клиентом
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=uchet&amp;act=take_table" title="Обслуживание столиков">Обслуживание столиков</a></li>
        
                <li><a class="dropdown-item" tabindex="-1" href="index.php?class_name=clients&amp;act=view_clients" title="Все клиенты">Все клиенты</a></li>
            
            </ul>
        </li>
                
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Склады
            </a>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=prihod" title="Приход товара">Приход товара</a></li>
        
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=pere" title="Перемещение товаров, денег">Перемещение товаров, денег</a></li>
        
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=vrabotu" title="Перемещение с расфасовкой">Перемещение с расфасовкой</a></li>
                <li><hr class="dropdown-divider"></li>	
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=u_pereuch" title="Инвентаризация">Инвентаризация</a></li>
                        
            </ul>
        </li>
                
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Расходы
            </a>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=zp_prem" title="Зарплаты">Зарплаты</a></li>
        
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=spis" title="Затраты и списание продуктов">Затраты и списание продуктов</a></li>
                        
            </ul>
        </li>
                
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Отчеты
            </a>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=agent_history" title="Движение денег, товаров">Движение денег, товаров</a></li>
        
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=bluda_history" title="Аналитика продаж">Аналитика продаж</a></li>
        
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=ostatki" title="Текущий  баланс">Текущий  баланс</a></li>
        
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=docs&amp;act=new_archiv" title="Оплаченые счета (new)">Оплаченые счета (new)</a></li>
            </ul>
        </li>
                
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Справочники
            </a>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=admin_postav&amp;act=view_postav" title="Поставщики">Поставщики</a></li>
                <li><hr class="dropdown-divider"></li>	
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=admin_sotr&amp;act=view_sotr" title="Персонал">Персонал</a></li>
                <li><hr class="dropdown-divider"></li>	
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=admin_proizv&amp;act=view_proizvs" title="Производства">Производства</a></li>
        
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=catalog&amp;act=draw1" title="Мастер рецептов">Мастер рецептов</a></li>
        
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=admin_sklads&amp;act=view_sklads" title="Склады">Склады</a></li>
        
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=admin_tables&amp;act=view_table_groups" title="Места продаж">Места продаж</a></li>
                <li><hr class="dropdown-divider"></li>	
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=receptura&amp;act=Prod" title="Исходные товары">Исходные товары</a></li>
        
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=receptura&amp;act=Fas" title="Фасовка">Фасовка</a></li>
        
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=receptura&amp;act=Polu" title="Полуфабрикаты">Полуфабрикаты</a></li>
        
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=receptura&amp;act=Blu" title="Продукция">Продукция</a></li>
                <li><hr class="dropdown-divider"></li>	
                <li><a tabindex="-1" class="dropdown-item" href="index.php?class_name=uchet&amp;act=print_menu" title="Просмотр технологических карт">Просмотр технологических карт</a></li>
                        
            </ul>
        </li>
         
    </ul>
  </nav> -->