<nav class="upMenu">
    <div class="buttons" id="buttons">
        <button onclick="document.location='./login'" class="authorize"></button>
        <button onclick="menuToggle()" class="toggleMenu"></button>
    </div>

    <div class="grid" id="grid" >
        <ul class="navList">
            <li class="navPoint"><a href="/">Главная</a></li>
            <% if(!isAuthorized) { %>
                <li class="navPoint"><a href="/login">Войти</a></li>
            <% } else {%>
                <li class="navPoint"><a href="/auth/logout">Выйти</a></li>
                <li class="navPoint"><a href="/profile">Профиль</a></li>
            <% }%>
            <li class="navPoint"><a href="">Новости</a></li>
            <li class="navPoint"><a href="">Бронь</a></li>
            <li class="navPoint"><a href="">Доставка</a></li>

        </ul>
    </div>

</nav>