<div id="order-form" class="card-body border-top none">
    <h4 class="card-title">Оформить заказ</h4>
    <form>
        <div class="form-group">
            <input data-phone type="tel" class="form-control" placeholder="Ваш номер телефона (+7949)">

            <select class="form-control" id="delivery-city">
                <option value="">Способ доставки</option>
                <option value="self">Самовывоз</option>
                <option value="Kir">Кировское</option>
                <option value="Zhd">Ждановка</option>
                <option value="Sch">Шахтёрск</option>
                <option value="Ena">Енакиево</option>
            </select>
        </div>
        <button data-toProcess type="button" class="btn btn-primary btn-process">Заказать</button>
    </form>
</div>