<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script src="js/menu.js"></script>

    <script src="js/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="jpgs/favicon.ico">

    <title>Cherry Music Bar</title>
</head>

<body>
    <script src="js/upMenu.js"></script>

    <header id="header">
        <div class="logo">
            <img src="jpgs/logo.png" alt="Logo">
        </div>
    </header>
    <article id="article">
        <%- include('upmenu'); -%>
        <div class="empty"></div>
        <div class="menu">
            <a href="/main_kitchen" class="category">
                <img src="./jpgs/dishes/dish.jpg" alt="123">
                <div class="descCategory">
                    <p>Кухня</p>
                </div>
            </a>
            <a href="/japan_kitchen" class="category">
                <img src="./jpgs/dishes/dish.jpg" alt="123">
                <div class="descCategory">
                    <p>Японская кухня</p>
                </div>
            </a>
            <a href="/bakery" class="category">
                <img src="./jpgs/dishes/dish.jpg" alt="123">
                <div class="descCategory">
                    <p>Выпечка</p>
                </div>
            </a>
            <a href="/burgers/burgers" class="category">
                <img src="./jpgs/dishes/dish.jpg" alt="123">
                <div class="descCategory">
                    <p>Бургеры</p>
                </div>
            </a>
        </div>
    </article>
    <button class="btn-cart"><img src="./jpgs/ui/cart.svg" alt="" class="cart-img"></button>

    <%- include('footer'); -%>
</body>
</html>