<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script src="js/menu.js"></script>

    <script src="js/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_for_menu.css">
    <link rel="icon" href="jpgs/favicon.ico">

    <title>Японская кухня | Cherry Music Bar</title>
</head>

<body>
<script src="js/upMenu.js"></script>

<header id="header">
    <a class="logo" href="/"><img src="../jpgs/logo.png" alt="Logo"></a>
</header>
<article id="article">
    <%- include('upmenu'); -%>
    <div class="empty"></div>
    <div class="menu">
        <a href="/japan_kitchen/sets" class="category">
            <img src="./jpgs/dishes/sets.jpg" alt="123">
            <div class="descCategory">
                <p>Сеты</p>
            </div>
        </a>
        <a href="/japan_kitchen/gunkans" class="category">
            <img src="./jpgs/dishes/gunkans.jpg" alt="123">
            <div class="descCategory">
                <p>Гунканы</p>
            </div>
        </a>
        <a href="/japan_kitchen/rolls" class="category">
            <img src="./jpgs/dishes/rolls.jpg" alt="123">
            <div class="descCategory">
                <p>Роллы</p>
            </div>
        </a>
        <a href="/japan_kitchen/japan_burger" class="category">
            <img src="./jpgs/dishes/japan_burger.jpg" alt="123">
            <div class="descCategory">
                <p>Японские бургеры</p>
            </div>
        </a>
    </div>


</article>
<button class="btn-cart"><img src="./jpgs/ui/cart.svg" alt="" class="cart-img"></button>

<%- include('footer'); -%>
</body>
</html>