<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <script src="js/menu.js"></script>

  <script src="js/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style_for_menu.css">
  <link rel="icon" href="jpgs/favicon.ico">

  <title>Кухня | Cherry Music Bar</title>
</head>

<body>
<script src="js/upMenu.js"></script>

<header id="header">
  <a class="logo" href="/"><img src="../jpgs/logo.png" alt="Logo"></a>
</header>

<article id="article">
  <%- include('upmenu'); -%>
  <div class="empty"></div>
  <div class="menu">
    <a href="/main_kitchen/starters" class="category">
      <img src="./jpgs/dishes/dish.jpg" alt="123">
      <div class="descCategory">
        <p>Первое</p>
      </div>
    </a>
    <a href="/main_kitchen/main_dishes" class="category">
      <img src="./jpgs/dishes/dish.jpg" alt="123">
      <div class="descCategory">
        <p>Второе</p>
      </div>
    </a>
    <a href="/main_kitchen/hot_appetizers" class="category">
      <img src="./jpgs/dishes/dish.jpg" alt="123">
      <div class="descCategory">
        <p>Горячие закуски</p>
      </div>
    </a>
    <a href="/main_kitchen/cold_platter" class="category">
      <img src="./jpgs/dishes/dish.jpg" alt="123">
      <div class="descCategory">
        <p>Холодные закуски</p>
      </div>
    </a>
    <a href="/main_kitchen/side_dishes" class="category">
      <img src="./jpgs/dishes/dish.jpg" alt="123">
      <div class="descCategory">
        <p>Гарниры</p>
      </div>
    </a>
    <a href="/main_kitchen/desserts" class="category">
      <img src="./jpgs/dishes/dish.jpg" alt="123">
      <div class="descCategory">
        <p>Десерты</p>
      </div>
    </a>
  </div>


</article>
<button class="btn-cart"><img src="./jpgs/ui/cart.svg" alt="" class="cart-img"></button>

<%- include('footer'); -%>
</body>
</html>