<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../js/menu.js"></script>
    <script type="text/javascript" src="../js/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style_for_menu.css">
    <link rel="icon" href="../jpgs/favicon.ico">

    <title>Меню | Cherry Music Bar</title>
</head>
<body id="<%= subcategory %>">

<header id="header">
    <a class="logo" href="/"><img src="../jpgs/logo.png" alt="Logo"></a>
</header>
<div class="row">
    <div class="article col-md-8">
        <%- include('upmenu'); -%>
        <div class="empty"></div>
        <div class="menu" id="menu">
            <a class="category"><img src="../jpgs/dishes/dish.jpg" alt="123"><div class="descCategory"><p id="name">Название</p></div></a>
        </div>
    </div>
    <div class="cart col-md-4">
        <div class="card-body">
            <h5 class="card-title">Ваш заказ</h5>

            <div data-cart-empty class="alert alert-secondary" role="alert">
                Корзина пуста
            </div>

            <!-- cart-wrapper -->
            <div class="cart-wrapper">

            </div>
            <!-- // cart-wrapper -->

            <!-- Стоимость заказа -->
            <div class="cart-total">
                <p data-cart-delivery class="none">
                    <span class="h5">Доставка:</span>
                    <span class="delivery-cost">250 ₽</span><br>
                    <span class="small">Бесплатно при заказе от 600 ₽</span>
                </p>
                <p><span class="h5">Итого:</span>
                    <span class="total-price">0</span>
                    <span class="rouble">₽</span></p>
            </div>
            <!-- // Стоимость заказа -->
            <!-- Оформить заказ -->
            <div id="order-form" class="card-body border-top none">
                <h5 class="card-title">Оформить заказ</h5>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ваш номер телефона">
                        </div>
                        <button type="submit" class="btn btn-primary">Заказать</button>
                    </form>
            </div>
            <!-- // Оформить заказ -->

        </div>
    </div>
</div>


<button class="btn-cart"><img src="./jpgs/ui/cart.svg" alt="" class="cart-img"></button>


<%- include('footer'); -%>




<script type="text/javascript" src="../js/data.js"></script>
<script type="text/javascript" src="../js/upMenu.js"></script>
<script type="text/javascript" src="../js/counter.js"></script>
<script type="text/javascript" src="../js/cart.js"></script>

</body>
</html>